@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme inline {
  --color-background: #09090B;
  --color-primary: #5e5eee;
  --color-secondary: #7858c9;
  --color-accent: #36b7cc;
  --color-text: #ffffff;
  --color-muted: #a1a1aa;


  --font-rajdhani: var(--font-rajdhani);
  --font-rubik: var(--font-rubik);
  --font-poppins: var(--font-poppins);
  --font-newRocker: var(--font-newRocker);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  
}
